.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 180px;
}
.itemWrapper {
    width: 490px;
    padding: 20px;
    background-color: $white;
    margin-bottom: 10px;
}
.pictureImg {
    width: 450px;
    height: 300px;
    cursor: pointer;
}
.pictureName {
    cursor: pointer;
    font-size: 16px;
    width: 470px;
    white-space: wrap;
}
.pictureName:hover {
    color: $deepGrey;
}
.pictureDesc {
    width: 470px;
    white-space: wrap;
    color: $deepGrey
}
.bottomText {
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 16px;
}